node_modules/
dist/
build/
public/
*.css
!src/styles/tailwind.css  
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.shopify/
.cache/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~
.AppleDouble
.LSOverride
Icon?
